* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 65.5%;
}

li {
  list-style: none;
  cursor: pointer;
}

body {
  background: #0D0D0D;
  color: #B6B6B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
}

.hide {
  display: none;
}

@font-face {
  font-family: haettenschweiler, sans-serif;
  src: url(../fonts/haetten.ttf);
}
.projects {
  background: coral;
  width: 100%;
  min-height: 50px;
  display: grid;
  padding: 5% 4% 5% 18%;
  grid-template-columns: repeat(auto-fit, 150px);
  gap: 12rem 1.5rem;
  direction: rtl;
}
.projects__card {
  min-height: 582px;
  position: relative;
  width: 150px;
  z-index: 0;
  filter: grayscale(100%);
  transition: width 1s ease, z-index 0.5s, filter 1s ease;
}
.projects__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.projects__heading {
  font-size: 5rem;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: haettenschweiler, sans-serif;
  z-index: 11;
}
.projects__author {
  font-size: 2rem;
  z-index: 1;
  position: absolute;
  bottom: 5%;
  left: 5%;
  z-index: 11;
}
.projects__description {
  font-size: 1.7rem;
  position: absolute;
  bottom: -10rem;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  z-index: 11;
}

.active {
  width: 482px;
  z-index: 10;
  filter: grayscale(0%);
}

.nav {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5rem;
  padding-right: 3rem;
}
.nav__heading {
  font-size: 2.5rem;
}
.nav__box {
  height: 40px;
  width: 80px;
  position: relative;
  border-bottom: 1px solid #B6B6B6;
  margin-right: 4rem;
}
.nav__border-right {
  border-right: 1px solid #B6B6B6;
  position: absolute;
  top: 50%;
  left: 99%;
  bottom: -3%;
}
.nav__ul {
  display: flex;
}
.nav__li {
  width: 8rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.nav__search {
  width: 8rem;
  border: none;
  color: #B6B6B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
  margin-left: 1rem;
  margin-right: 1rem;
}
.nav__search::placeholder {
  color: #B6B6B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
}
.nav__select {
  width: 8rem;
  border: none;
  color: #B6B6B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
  margin-left: 1rem;
  margin-right: 1rem;
}

.small-modal-container {
  display: none;
  background: #0D0D0D;
  width: 30vw;
  height: 50vh;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  overflow-y: scroll;
  padding: 2rem;
  border-radius: 5px;
}

.big-modal-container {
  display: none;
  background: #0D0D0D;
  width: 35vw;
  height: 65vh;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  overflow-y: scroll;
  padding: 2rem;
  border-radius: 5px;
}

.modal-background {
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(153, 153, 153, 0.2);
}

.sign-up {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  padding-right: 5rem;
}
.sign-up__heading {
  padding-right: 50%;
  margin-bottom: 3rem;
}
.sign-up__input {
  border: none;
  color: #B6B6B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
  border-bottom: 1px solid #B6B6B6;
  margin-bottom: 2rem;
}
.sign-up__input::placeholder {
  color: #B6B6B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
}
.sign-up__btn {
  border: none;
  color: #B6B6B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
  width: 7rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
}
.sign-up__box {
  height: 40px;
  width: 20px;
  position: relative;
  border-bottom: 1px solid #B6B6B6;
}
.sign-up__border-left {
  border-left: 1px solid #B6B6B6;
  position: absolute;
  top: 50%;
  bottom: 0;
}

.login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  padding-right: 5rem;
}
.login__heading {
  padding-right: 50%;
  margin-bottom: 3rem;
}
.login__input {
  border: none;
  color: #B6B6B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
  border-bottom: 1px solid #B6B6B6;
  margin-bottom: 2rem;
}
.login__input::placeholder {
  color: #B6B6B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
}
.login__btn {
  border: none;
  color: #B6B6B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
}
.login__box {
  height: 40px;
  width: 20px;
  position: relative;
  border-bottom: 1px solid #B6B6B6;
}
.login__border-left {
  border-left: 1px solid #B6B6B6;
  position: absolute;
  top: 50%;
  bottom: 0;
}

.add-project {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  padding-right: 5rem;
}
.add-project__heading {
  padding-right: 30%;
  margin-bottom: 3rem;
}
.add-project__input {
  border: none;
  color: #B6B6B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
  border-bottom: 1px solid #B6B6B6;
  margin-bottom: 2rem;
}
.add-project__input::placeholder {
  color: #B6B6B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
}
.add-project__btn {
  border: none;
  color: #B6B6B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
  width: 10rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
}
.add-project__box {
  height: 40px;
  width: 20px;
  position: relative;
  border-bottom: 1px solid #B6B6B6;
  margin-right: 4rem;
}
.add-project__border-left {
  border-left: 1px solid #B6B6B6;
  position: absolute;
  top: 50%;
  bottom: 0;
}

.add-project-select {
  width: 100vw;
  padding: 0% 0% 0% 18%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.add-project-select__div {
  display: flex;
  align-items: center;
}
.add-project-select__p {
  color: #B6B6B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  margin-right: 1rem;
  margin-bottom: 0px;
}
.add-project-select__icon {
  width: 1rem;
}

body {
  width: 100%;
  background: cadetblue;
}