@font-face {
  font-family: haettenschweiler, sans-serif;
  src: url(../fonts/haetten.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 65.5%;
}

li {
  list-style: none;
  cursor: pointer;
}

body {
  width: 100%;
  background: #0D0D0D;
  color: #B6B6B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
}

.hide {
  display: none;
}

.projects {
  width: 100%;
  min-height: 50px;
  display: grid;
  padding: 5% 4% 5% 19%;
  grid-template-columns: repeat(auto-fit, 150px);
  gap: 17rem 1.5rem;
  direction: rtl;
}
.projects__card {
  height: 582px;
  position: relative;
  width: 150px;
  z-index: 0;
  filter: grayscale(100%);
  transition: width 1s ease, z-index 0.5s, filter 1s ease;
}
.projects__image-wrap {
  height: 100%;
  width: 100%;
  background: linear-gradient(193.27deg, rgba(0, 0, 0, 0.46) 7.07%, rgba(0, 0, 0, 0.14) 25.73%, rgba(0, 0, 0, 0.47) 49.89%, rgba(0, 0, 0, 0.14) 72.32%, rgba(0, 0, 0, 0.46) 91.27%);
}
.projects__img {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}
.projects__heading {
  width: 15ch;
  font-size: 10rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: haettenschweiler, sans-serif;
  z-index: 101;
  line-height: 0.8;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #ffffff;
}
.projects__author {
  font-size: 2.7rem;
  position: absolute;
  bottom: 5%;
  left: 5%;
  z-index: 101;
  font-family: "Bebas Neue", cursive;
  color: #ffffff;
}
.projects__description-wrap {
  width: 114%;
  height: 14rem;
  position: absolute;
  bottom: -16rem;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 101;
}
.projects__description {
  text-align: center;
  color: #E7D4F6;
}

.active {
  width: 482px;
  z-index: 100;
  filter: grayscale(0%);
}

.nav {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5rem;
  padding-right: 3rem;
}
.nav__heading {
  font-size: 2.5rem;
}
.nav__ul {
  display: flex;
}
.nav__li {
  width: 8rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.nav__search {
  width: 8rem;
  border: none;
  color: #B6B6B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
  margin-left: 1rem;
  margin-right: 1rem;
}
.nav__search::placeholder {
  color: #B6B6B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
}
.nav__select {
  width: 8rem;
  border: none;
  color: #B6B6B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
  margin-left: 1rem;
  margin-right: 1rem;
}

.modal-container {
  display: none;
  background: #0D0D0D;
  width: 30vw;
  height: 50vh;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  overflow-y: scroll;
  padding: 2rem;
  border-radius: 5px;
}

.modal-background {
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(153, 153, 153, 0.2);
}

.sign-up {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  padding-right: 5rem;
}
.sign-up__heading {
  padding-right: 50%;
  margin-bottom: 3rem;
}
.sign-up__input {
  border: none;
  color: #B6B6B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
  border-bottom: 1px solid #B6B6B6;
  margin-bottom: 2rem;
}
.sign-up__input::placeholder {
  color: #B6B6B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
}
.sign-up__btn {
  border: none;
  color: #B6B6B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
  width: 7rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
}
.sign-up__box {
  height: 40px;
  width: 20px;
  position: relative;
  border-bottom: 1px solid #B6B6B6;
}
.sign-up__border-left {
  border-left: 1px solid #B6B6B6;
  position: absolute;
  top: 50%;
  bottom: 0;
}

.login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  padding-right: 5rem;
}
.login__heading {
  padding-right: 50%;
  margin-bottom: 3rem;
}
.login__input {
  border: none;
  color: #B6B6B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
  border-bottom: 1px solid #B6B6B6;
  margin-bottom: 2rem;
}
.login__input::placeholder {
  color: #B6B6B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
}
.login__btn {
  border: none;
  color: #B6B6B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
}
.login__box {
  height: 40px;
  width: 20px;
  position: relative;
  border-bottom: 1px solid #B6B6B6;
}
.login__border-left {
  border-left: 1px solid #B6B6B6;
  position: absolute;
  top: 50%;
  bottom: 0;
}