@font-face {
  font-family: "haettenschweiler", sans-serif;
  src: url(../fonts/Haettenschweiler-Regular.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 65.5%;
}

li {
  list-style: none;
  cursor: pointer;
}

body {
  background: red;
  width: 100%;
  background: #0D0D0D;
  color: #B6B6B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
}

.hide {
  display: none;
}

.projects {
  width: 100%;
  min-height: 50px;
  display: grid;
  padding: 1% 4% 5% 19%;
  grid-template-columns: repeat(auto-fit, 150px);
  gap: 17rem 1.5rem;
  direction: rtl;
}
.projects__card {
  height: 582px;
  position: relative;
  width: 150px;
  z-index: 0;
  filter: grayscale(100%);
  transition: width 1s ease, z-index 0.5s, filter 1s ease;
}
.projects__project-options {
  display: none;
  padding: 1rem;
  position: absolute;
  top: 15px;
  right: 12px;
  background: none;
  color: #ffffff;
  font-size: 2rem;
  display: inline-block;
  border: none;
  z-index: 3000;
  background-image: url(../assets/options-dropdown-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 101;
  filter: invert(99%) sepia(2%) saturate(528%) hue-rotate(199deg) brightness(117%) contrast(91%);
}
.projects__project-options:hover {
  cursor: pointer;
  filter: invert(75%) sepia(29%) saturate(3587%) hue-rotate(211deg) brightness(87%) contrast(94%);
}
.projects__project-options:focus {
  filter: invert(75%) sepia(29%) saturate(3587%) hue-rotate(211deg) brightness(87%) contrast(94%);
}
.projects__dropdown-content {
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: 0;
  top: 50px;
  z-index: 200;
}
.projects__dropdown-content a {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.projects__dropdown-content a:hover {
  background-color: #B486D9;
  cursor: pointer;
}
.projects__portfolio-link {
  height: 100%;
  width: 100%;
  background: yellow;
  z-index: 110;
}
.projects__image-wrap {
  height: 100%;
  width: 100%;
  background: linear-gradient(193.27deg, rgba(0, 0, 0, 0.46) 7.07%, rgba(0, 0, 0, 0.14) 25.73%, rgba(0, 0, 0, 0.47) 49.89%, rgba(0, 0, 0, 0.14) 72.32%, rgba(0, 0, 0, 0.46) 91.27%);
}
.projects__img {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}
.projects__heading {
  width: 11ch;
  font-size: 9rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Oswald", sans-serif;
  z-index: 101;
  line-height: 1;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #ffffff;
}
.projects__author {
  font-size: 2.7rem;
  position: absolute;
  bottom: 5%;
  left: 5%;
  z-index: 101;
  font-family: "Bebas Neue", cursive;
  color: #ffffff;
  letter-spacing: 0.1em;
}
.projects__description-wrap {
  width: 114%;
  height: 14rem;
  position: absolute;
  bottom: -16rem;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 101;
}
.projects__description {
  text-align: center;
  color: #E7D4F6;
}
.projects__small-screen-link {
  color: #ffffff;
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
  letter-spacing: 0.05em;
  position: absolute;
  top: 5%;
  left: 6%;
}
.projects__small-screen-link:hover {
  color: #B486D9;
}
.projects__link-icon {
  height: 15px;
  padding: 0 8px;
  filter: invert(99%) sepia(2%) saturate(528%) hue-rotate(199deg) brightness(117%) contrast(91%);
}
.projects__link-icon:hover {
  filter: invert(75%) sepia(29%) saturate(3587%) hue-rotate(211deg) brightness(87%) contrast(94%);
}

.active {
  width: 482px;
  z-index: 100;
  filter: grayscale(0%);
}

/* Medium Devices (Tablets) */
@media (min-width:601px) and (max-width:1023px) {
  .projects {
    padding: 5% 4% 5% 40%;
    gap: 21rem 1.5rem;
    cursor: pointer;
  }
  .projects__heading {
    width: 11ch;
    font-size: 6.2rem;
  }
  .projects__portfolio-link {
    pointer-events: none;
  }
  .projects__description-wrap {
    width: 100%;
    bottom: -15rem;
  }
  .projects__description {
    text-align: left;
  }

  .active {
    width: 375px;
  }
}
/* Small Devices (Mobile) */
@media (max-width: 600px) {
  .projects {
    grid-template-columns: repeat(auto-fit, 60px);
    padding: 5% 7% 5% 40%;
    gap: 36rem 1rem;
    cursor: pointer;
  }
  .projects__card {
    height: 400px;
    width: 60px;
  }
  .projects__heading {
    width: 11ch;
    font-size: 3.8rem;
  }
  .projects__author {
    font-size: 2rem;
  }
  .projects__portfolio-link {
    pointer-events: none;
  }
  .projects__description-wrap {
    width: 105%;
    bottom: -15rem;
    left: 50%;
  }
  .projects__description {
    text-align: left;
  }
  .projects__small-screen-link {
    font-size: 1.5rem;
  }
  .projects__link-icon {
    height: 10px;
  }

  .active {
    width: 205px;
  }
}
.nav {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 5rem;
  padding-right: 3rem;
  margin-bottom: 8rem;
}
.nav__heading {
  width: 172px;
  padding-top: 20px;
  filter: invert(99%) sepia(2%) saturate(528%) hue-rotate(199deg) brightness(117%) contrast(91%);
}
.nav__heading:hover {
  cursor: pointer;
  filter: invert(75%) sepia(29%) saturate(3587%) hue-rotate(211deg) brightness(87%) contrast(94%);
}
.nav__ul {
  display: flex;
  align-items: center;
  text-align: center;
}
.nav__li {
  min-width: 8rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.4rem;
  padding: 1rem;
  letter-spacing: 0.05em;
}
.nav__li:hover {
  color: #B486D9;
  border-bottom: 1px solid #B486D9;
}
.nav__search {
  width: 12vw;
  border: none;
  color: #B6B6B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
  margin-left: 1rem;
  margin-right: 1rem;
  border-bottom: 1px solid #616161;
  padding: 1rem;
  letter-spacing: 0.05em;
  text-align: right;
}
.nav__search:hover {
  color: #B486D9;
  border-bottom: 1px solid #B486D9;
}
.nav__search::placeholder {
  color: #B6B6B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
}
.nav__select {
  width: 9.2rem;
  border: none;
  color: #B6B6B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
  margin-left: 1rem;
  margin-right: 1rem;
  border: none;
  padding: 1rem;
  letter-spacing: 0.05em;
}
.nav__select:hover {
  color: #B486D9;
  border-bottom: 1px solid #B486D9;
}
.nav__name {
  padding: 1rem;
}
.nav__name:hover {
  color: #B486D9;
}

#navLoginBtn {
  border: 1px solid #B6B6B6;
  padding: 1rem;
}
#navLoginBtn:hover {
  color: #ffffff;
  background: #B486D9;
  border: 1px solid #B486D9;
}

/* Medium Devices (Tablets) */
@media (min-width:601px) and (max-width:1023px) {
  .nav {
    height: 20vh;
  }
  .nav__heading {
    width: 110px;
    padding-top: 20px;
  }
  .nav__ul {
    flex-flow: column-reverse wrap;
    align-items: flex-end;
    width: 36%;
    padding-top: 2rem;
  }
  .nav__li {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  .nav__search {
    width: 100%;
  }
  .nav__search::placeholder {
    font-size: 1.2rem;
  }
  .nav__select {
    font-size: 1.2rem;
  }
}
/* Small Devices (Mobile) */
@media (max-width: 600px) {
  .nav {
    height: 22vh;
    padding: 0 2rem 0 3rem;
  }
  .nav__heading {
    width: 100px;
    padding-top: 20px;
  }
  .nav__ul {
    flex-flow: column-reverse wrap;
    align-items: flex-end;
    width: 45%;
  }
  .nav__li {
    font-size: 1.2rem;
  }
  .nav__search {
    width: 100%;
  }
  .nav__search::placeholder {
    font-size: 1.2rem;
  }
  .nav__select {
    font-size: 1.2rem;
  }
}
.small-modal-container {
  display: none;
  background: #0D0D0D;
  width: 30vw;
  height: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  padding: 2rem;
  border-radius: 5px;
  z-index: 2001;
}

.big-modal-container {
  display: none;
  background: #0D0D0D;
  width: 35vw;
  height: 65vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  padding: 2rem;
  border-radius: 5px;
  z-index: 2001;
}

.user-modal {
  display: none;
  padding: 2rem;
  background: #0D0D0D;
  z-index: 2001;
  position: absolute;
  top: 15%;
  left: 90%;
  transform: translate(-50%, -50%);
}
.user-modal__btn {
  border: none;
  color: #B6B6B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
  width: 10rem;
  color: #ffffff;
}
.user-modal:hover {
  background: #616161;
}

.modal-background {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(153, 153, 153, 0.2);
  z-index: 2000;
}

.sign-up {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  padding-right: 5rem;
}
.sign-up__heading {
  padding-right: 50%;
  margin-bottom: 3rem;
  font-family: "Oswald", sans-serif;
}
.sign-up__input {
  border: none;
  color: #B6B6B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
  border-bottom: 1px solid #B6B6B6;
  margin-bottom: 2rem;
  padding: 1rem;
}
.sign-up__input::placeholder {
  color: #B6B6B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
}
.sign-up__btn {
  border: none;
  color: #B6B6B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
  width: 7rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
}
.sign-up__btn:hover {
  color: #B486D9;
}
.sign-up__box {
  height: 40px;
  width: 20px;
  position: relative;
  border-bottom: 1px solid #B6B6B6;
}
.sign-up__border-left {
  border-left: 1px solid #B6B6B6;
  position: absolute;
  top: 50%;
  bottom: 0;
}

.login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  padding-right: 5rem;
}
.login__heading {
  padding-right: 50%;
  margin-bottom: 3rem;
  font-family: "Oswald", sans-serif;
}
.login__input {
  border: none;
  color: #B6B6B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
  border-bottom: 1px solid #B6B6B6;
  margin-bottom: 2rem;
  padding: 1rem;
}
.login__input::placeholder {
  color: #B6B6B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
}
.login__btn {
  border: none;
  color: #B6B6B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
}
.login__btn:hover {
  color: #B486D9;
}
.login__box {
  height: 40px;
  width: 20px;
  position: relative;
  border-bottom: 1px solid #B6B6B6;
}
.login__border-left {
  border-left: 1px solid #B6B6B6;
  position: absolute;
  top: 50%;
  bottom: 0;
}

/* Small Devices (Mobile) */
@media (max-width: 600px) {
  .small-modal-container {
    width: 90vw;
  }

  .big-modal-container {
    width: 90vw;
  }

  .user-modal {
    top: 13%;
    left: 74%;
    transform: translate(-50%, -50%);
  }
}
.add-project-select {
  width: 100%;
  padding-left: 5rem;
}
.add-project-select__div {
  min-width: 10rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.add-project-select__p {
  color: #B6B6B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  margin-right: 1rem;
  margin-bottom: 0px;
  letter-spacing: 0.05em;
}
.add-project-select__p:hover {
  color: #B486D9;
}
.add-project-select__icon {
  width: 1rem;
  filter: invert(99%) sepia(2%) saturate(528%) hue-rotate(199deg) brightness(117%) contrast(91%);
}
.add-project-select__icon:hover {
  filter: invert(75%) sepia(29%) saturate(3587%) hue-rotate(211deg) brightness(87%) contrast(94%);
}

.add-project {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  padding-right: 5rem;
}
.add-project__heading {
  padding-right: 30%;
  margin-bottom: 3rem;
  font-family: "Oswald", sans-serif;
}
.add-project__input {
  border: none;
  color: #B6B6B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
  border-bottom: 1px solid #B6B6B6;
  margin-bottom: 2rem;
}
.add-project__input::placeholder {
  color: #B6B6B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
}
.add-project__btn {
  border: none;
  color: #B6B6B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
  width: 10rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
}
.add-project__btn:hover {
  color: #B486D9;
}
.add-project__box {
  height: 40px;
  width: 20px;
  position: relative;
  border-bottom: 1px solid #B6B6B6;
  margin-right: 4rem;
}
.add-project__border-left {
  border-left: 1px solid #B6B6B6;
  position: absolute;
  top: 50%;
  bottom: 0;
}

/* Medium Devices (Tablets) */
@media (min-width:601px) and (max-width:1023px) {
  .add-project-select__p {
    font-size: 1.2rem;
  }
  .add-project-select__icon {
    width: 0.8rem;
  }
}
/* Small Devices (Mobile) */
@media (max-width: 600px) {
  .add-project-select__p {
    font-size: 1.2rem;
  }
  .add-project-select__icon {
    width: 0.8rem;
  }
}
.update-project {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  padding-right: 5rem;
}
.update-project__heading {
  padding-right: 30%;
  margin-bottom: 3rem;
}
.update-project__input {
  border: none;
  color: #B6B6B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
  border-bottom: 1px solid #B6B6B6;
  margin-bottom: 2rem;
}
.update-project__input::placeholder {
  color: #B6B6B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
}
.update-project__btn {
  border: none;
  color: #B6B6B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
  width: 13rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
}
.update-project__box {
  height: 40px;
  width: 20px;
  position: relative;
  border-bottom: 1px solid #B6B6B6;
  margin-right: 4rem;
}
.update-project__border-left {
  border-left: 1px solid #B6B6B6;
  position: absolute;
  top: 50%;
  bottom: 0;
}

.delete-project {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  padding-right: 5rem;
}
.delete-project__heading {
  padding-right: 30%;
  margin-bottom: 3rem;
}
.delete-project__input {
  border: none;
  color: #B6B6B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
  border-bottom: 1px solid #B6B6B6;
  margin-bottom: 2rem;
}
.delete-project__input::placeholder {
  color: #B6B6B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
}
.delete-project__btn {
  border: none;
  color: #B6B6B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
  width: 13rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
}
.delete-project__box {
  height: 40px;
  width: 20px;
  position: relative;
  border-bottom: 1px solid #B6B6B6;
  margin-right: 4rem;
}
.delete-project__border-left {
  border-left: 1px solid #B6B6B6;
  position: absolute;
  top: 50%;
  bottom: 0;
}

.tagline {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
  padding: 10rem 0 8rem 5rem;
  color: #B6B6B6;
}
.tagline:hover {
  color: #B486D9;
}

/* Medium Devices (Tablets) */
@media (min-width:601px) and (max-width:1023px) {
  .tagline {
    font-size: 1.8rem;
    padding: 10rem 0 6rem 4rem;
  }
}
/* Small Devices (Mobile) */