.projects{
    width: 100%;
    min-height: 50px;
    display: grid;
    padding: 5% 4% 5% 19%;
    grid-template-columns: repeat(auto-fit, 150px);
    gap: 17rem 1.5rem;
    direction: rtl;
    
    &__card{
        height: 582px;
        position: relative;
        width: 150px;
        z-index: 0;
        filter: grayscale(100%);
        transition: width 1s ease, z-index 0.5s, filter 1s ease;
    }
    &__project-options{
        display: none;
        padding: 1rem;
        position: absolute;
        top: 15px;
        right: 12px;
        background: none;
        color: $white;
        font-size: 2rem;
        display: inline-block;
        border: none;
        background-image: url(../assets/options-dropdown-icon.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        z-index: 101;
        filter: invert(99%) sepia(2%) saturate(528%) hue-rotate(199deg) brightness(117%) contrast(91%);
        &:hover{
            cursor: pointer;
            filter: invert(75%) sepia(29%) saturate(3587%) hue-rotate(211deg) brightness(87%) contrast(94%);
        }
        &:focus{
            filter: invert(75%) sepia(29%) saturate(3587%) hue-rotate(211deg) brightness(87%) contrast(94%);
        }
    }
    &__dropdown-content {
        position: absolute;
        background-color: $black;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        right: 0;
        top: 50px;
        z-index: 200;
        & a{
            color: $white;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            &:hover{
                background-color: $purple;
                cursor: pointer;
            }
        }
    }
    &__image-wrap{
        height: 100%;
        width: 100%;
        background: linear-gradient(193.27deg, rgba(0, 0, 0, 0.46) 7.07%, rgba(0, 0, 0, 0.14) 25.73%, rgba(0, 0, 0, 0.47) 49.89%, rgba(0, 0, 0, 0.14) 72.32%, rgba(0, 0, 0, 0.46) 91.27%);
    }
    &__img{
        position: relative;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        z-index: -1;
        }
    &__heading{
        width: 11ch;
        font-size: 9rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-family: $heading-font;
        z-index: 101;
        line-height: 1;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: $white;
    }
    &__author{
        font-size: 2.7rem;
        position: absolute;
        bottom: 5%;
        left: 5%;
        z-index: 101;
        font-family: $condensed-font;
        color: $white;
        letter-spacing: 0.1em;
    }
    &__description-wrap{
        width: 114%;
        height: 14rem;
        position: absolute;
        bottom: -16rem;
        left: 50%;
        transform: translate(-50%, 0%);
        z-index: 101;
    }
    &__description{
        text-align: center;
        color: $light-purple;
    }
}

.active{
    width: 482px;
    z-index: 100;
    filter: grayscale(0%);
}

/* Medium Devices (Tablets) */
@media #{$tablet} {
    .projects{
        padding: 5% 4% 5% 40%;
        gap: 21rem 1.5rem;
        cursor: pointer;
        &__heading{
            width: 11ch;
            font-size: 6.2rem;
        }
        &__portfolio-link{
            pointer-events:none;
        }
        &__description-wrap{
            width: 100%;
            bottom: -15rem;
        }
        &__description{
            text-align: left;
        }
    }

    .active{
        width: 375px;
    }
}

/* Small Devices (Mobile) */
@media #{$mobile}{

}
