@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin text {
    color: $med-grey;
    font-family: $body-font;
    font-size: 1.4rem;
}

@mixin input {
    border: none;
    @include text;
    @include center;
    cursor: pointer;
    background: transparent;
}